

body {
    width: 100vw;
    height: 100vh;
    background-image: url(https://cdn.diariodesuzano.com.br/upload/dn_noticia/2018/09/portal-unnamed.jpg);
    background-size: cover;
    margin: 0;
}


dialog {
    border: none;
    border-radius: 8px;
    width: 40%;
    padding: 1rem;
    box-shadow: 10px 10px 30px;
    background-color: #ffffffde;
}

dialog::backdrop {
    /* background-color: #000000b6; */
    background-color: #b2b2b2b6;
}

dialog form {
    width: 43%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.75rem;
}

dialog form input {
    padding: 8px;
    width: 100%;
    margin: 0;
    font-size: .75rem;
}

#close {
    margin-left: 520px;
    border: none;
    transition: .5s;
    cursor: pointer;
    border-radius: 2px;

}

#close:hover {
    background-color: red;
    transform: scale(1.1);

}

#forms {
    padding: 1rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
}